body{

    display: flex;
    justify-content: center;
    margin:0;
    padding: 0;
    background-color: rgb(79, 123, 161);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.App{
    background-color: rgb(183, 195, 255);
    border-radius: 10px;
    box-shadow: rgba(0,0,0,0.05)0 6px 24 px,rgba(0,0,0,0.08)0 0 0 1px ;
    padding: 10px;
    width: 800 px;
    margin-top: 50 px;
}
